
@{
    ViewBag.Title = "Behavior";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Behavior Problem?</h2>

<html>
<body>
    <p>
        Autism Behavior Problems
        <h3> What’s Triggering Your Child’s Outbursts?</h3>
       <p> Autistic girl at school playground Autism is not a hardwired impairment programmed into a child’s genes and destined to remain fixed forever. Paying attention differently to and recording the environment around and prior to incidents can lead to an understanding of triggers for occurrences. Sensory breaks can help your child regroup and refocus.
        Figuring out your child’s needs
        There’s been a lot of research about how people with autism lack a so-called theory of mind—they don’t understand that you are a different person with different needs than theirs. That may be true, but teachers, parents, and specialists are often just as lacking their understanding of what might be called the child’s theory of sensation and perception.

        You don’t “get” why she experiences a flickering light bulb as a bolt of lightning, a doorbell ringing as the sound of a thousand church bells. You don’t appreciate why a child might need to tap his foot and run around the classroom to keep from falling out of his chair. And you don’t grasp how yogurt, because of its smoothness, may be one of the only foods that doesn’t make your daughter feel like she has a mouthful of pebbles.

        Your child may have as hard a time figuring out your needs as you have figuring out hers. She may not notice that today is a bad one for you, and so try to be less needy. He may talk endlessly because he can’t read your cues of boredom.
        </p>
       <h3>Search for the hidden meaning</h3>
        Many of your child’s behaviors may not make obvious sense—they don’t seem to serve any clear purpose. But your child doesn’t smear poop all over the walls “on purpose” to make you cry or get angry. Assume for a minute that “crazy” behaviors like this do make some sense, that your child is sending you coded messages about things that are important to him—and your job is to break the code so you can “read” the messages.

        By paying attention differently to these actions, you may be able to notice clues you didn’t see before, and find a more effective way to help your child. Taking this approach will also help you respond more carefully to these “bizarre” behaviors, so you don’t inadvertently reinforce them by rewarding your child for activities that drive you up the wall.

        The first thing to do is to start recording these outbursts and stunts the way an anthropologist might record the actions of a newly discovered native people. Suspend your judgments, what you think you know. What time do these events most often happen? Does the same thing often happen first? Perhaps he’s more likely to have outbursts on pizza day in the school cafeteria, or after you’ve just turned on the lights because it’s getting dark outside. Maybe it only happens when you turn on the fluorescent light in the kitchen. Many behaviors are set off or triggered by an event. Just as you might suddenly feel hungry as you walk past a bakery, there are “setting events” in your child’s life—the things that “set off” difficult behaviors. You can use a diary or log to try to identify these setting events for some of your child’s most difficult behaviors.

        Instead of looking at the behavior as “bad,” look for how the context, or environment, is out of synch with your child, and explore what you can do about it.

       <h3>External environment</h3>
        Some things in your child’s surroundings are changeable and some are not. Sometimes the problem is a well-meant gesture that’s actually counterproductive, like a teacher popping a candy in your daughter’s mouth to keep her quiet, unintentionally rewarding her for being loud in class.

        Sometimes just figuring out what the problem is can help you do something about it. Your refrigerator will always make humming noises, but if you realize that sound is distracting your hearing-sensitive son, you can help him set up a quiet spot to do homework.

        Sometimes you will find a mismatch between what’s expected of your child and what she can actually do.

        <h4>Sensory stimulation</h4>
        Your child may respond with disruptive behavior if he’s being overwhelmed by too much sensory information. Jimmy is a bright boy with a lot of energy for learning. But he has a classmate who cries for hours each day. The sound and the emotional weight of that crying pushes Jimmy over the edge and makes it very difficult for him to concentrate and learn. His mother has realized this and is trying to switch him into a classroom that will be less disruptive.

       <h4> Social triggers </h4>
        Maybe your daughter realizes she has no friends, so recess time is particularly tough for her. Talking to the teacher and even her classmates might make a difference. Tell them what your daughter’s problems are and enlist their help. Yes, kids can be cruel to one another but they can also be phenomenally open and accepting. Reach out to their better natures. Don’t assume they should know how to behave around your child, but teach them how and you may be astounded by how supportive her peers become.

       <h4> Communication problems </h4>
        Maybe your son is frustrated because he can’t communicate—about either the bad reflux that’s hurting his throat, or the question he’d like to answer on the blackboard. Using pictures, sign language, or a keyboard instead of talking might help. Here’s where experimentation and a great teacher can make all the difference.

        <h4>Interests </h4>
        Maybe your child tunes out because the teacher or the material isn’t engaging. If your son’s preschool class is spending the year talking about dinosaurs and he’s obsessed with machines, maybe the teacher can steer the topic a bit in his direction, spending some class time talking about the machines used to study dinosaurs or dig up their bones.

       <h4> Internal environment </h4>
       
        <p>Here are some of the places to look for clues when hunting for internal triggers of behavior problems.
    </p>
        Sources of pain: Look aggressively for all possible sources of pain, such as teeth, reflux, gut, broken bones, cuts and splinters, infections, abscesses, sprains, and bruises. Any behaviors that seem to be localized might indicate pain. If he always likes to sit curled up in a ball, for instance, or drapes his belly over the arm of the couch, that might be because his stomach is hurting.
        Seizures: Some behaviors, especially those that seem particularly odd, unmotivated, abrupt, or out of nowhere, may be due to seizures. If you are concerned about this, keep a very careful record of what you observe, see if your child’s teachers and therapists have similar observations, and discuss it with your doctor.
        Food allergies and sensitivities: Try to identify any food allergies or sensitivities that might be bothering your child. Diarrhea within a few hours of eating a particular food could certainly indicate an allergy; so can red, flushed cheeks or ears. Many people report that their child’s flapping or repetitive behaviors go away when they cut out certain foods. An elimination diet can show you for certain whether specific foods trigger pain or unusual behaviors.
        Fatigue, hunger, or thirst: As with anyone, being hungry, tired, or thirsty can make your child cranky. Poor sleep or coming down with a cold could easily explain unusual behavior. A chronic illness or low-grade infection could make her irritable. If your child has a pattern of crankiness at a certain time of day, try offering a piece of fruit at that hour to see if it makes a difference.
        Emotions: Sorrow, anger, fear, and anxiety can also have an impact on behavior. Parents who are going through a divorce, a health crisis, a job change, or a move might think they’re handling everything and there’s no reason for their child to be concerned. But if you’re stressed about something, chances are your child will be, too—particularly if he’s powerless to do anything about it, or even communicate his concerns.
        Coordination problems can contribute to stress and behavior issues. As anyone who’s ever been picked last or near last for a team knows, grade school gym class can be stressful. If your child has trouble undoing buttons or zippers, the short time allotted for locker room changes or bathroom breaks can add tremendous stress. When you walk awkwardly, negotiating a crowded hallway between classes can be stressful.
        As I hope you can appreciate by now, there are many things you can do once you look for ways to fix the context and not just the behaviors.
    <p>
        Stabilization, regulation, and sensory breaks
        Once you have addressed your child’s physical needs, it’s time to consider sensory and emotional regulation. Your child’s sensory experiences are probably very different from your own. She is likely easily overwhelmed by information coming in through some senses, perhaps upset by loud noises, and isn’t getting enough input from the senses responsible for self-awareness and regulation.
</p>
        In school you learned about five senses: taste, smell, sound, sight, and touch. Two more senses are important to understand your child: the vestibular sense, which controls balance, and proprioception, or the sense of one’s body in space. In many people with autism, some of the information from these senses is too much, too little, or distorted, leading to feelings of terror, pain, or disengagement.
    <p>
        To overcome the confusion, your child needs help stabilizing his senses. Author Judy Endow, an adult with autism, recommends sensory breaks—moments during the day when your child can fill sensory needs.
    </p>
    </p>
</body>
</html>

