
@{
    ViewBag.Title = "DDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HOW IS OUR DAYCARE CENTER?</h2>

<html>
<body>
    <p>
    Daycare Center
    Recent statistics indicate that nearly 11 million children under five are in daycare. It may seem a daunting prospect if you have an autistic child, but for some, a daycare facility can be a great option. 
    Many children with autism thrive on routine, which is usually customary in daycare, and it can be a great preparation for the transition to school. 
    Careful research of daycare facilities can also reveal some real gems—you may be able to find somewhere local to you that has experience in working with children with autism, 
    or that employs specially trained professionals. 
        </p>
    <p>
    They often also have access to resources (such as being able to refer you to relevant medical services) and links to the community, which can be of great benefit to both you and your child. 
    On the other hand, some children will struggle with large groups, and may find the noise in large centers particularly unnerving.
    </p>
</body>
</html>