
@{
    ViewBag.Title = "DRequirements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you looking for a daycare center for your Special Children?</h2>

<html>
<body>
    <p>
        Children with autism, and how to find the right daycare
    </p>
    

   <p>

    According to statistics from Child Care Aware® of America, nearly 11 million children under the age of five in the United States were in daycare in 2012. Chances are that at one time or another, you might be one of those parents who have to decide to enroll your child in some type of daycare setting.


    Releasing our children into a daycare can be nerve wracking for all parents, but possibly more so for those who have a child with a behavioral or developmental disorder.


    Will the facility have the means to meet your child's very specific needs? Have they ever cared for special needs children before? How will your child fare in a setting outside of his or her home?


    These and many more questions will arise. So how can you find the daycare center that will be right for you and your autistic child?


    Seeking Support


    It might comfort you to know that you're not alone. There are many other parents of autistic children out there who are likely facing the same concerns you are when it comes to daycare.


    Fortunately, there are parent support groups where you can reach out and ask other parents about their own experiences. Autism Support Network, for instance, provides an online chat. Also, the National Autism Association can help you find a support group in your area.


    You might also find that your state, like most, provide referral services for children with special needs.

       </p>
<p>

    Once you've asked other parents and spoken to state or mental health officials, it's time to explore actual daycare centers.


    To find the right one for your child, set up an interview with daycare directors. Find out what type of experience and training the staff has when it comes to autism. Speak to parents of other autistic children who are enrolled there.


    Visit once with your child and once (or more) without. The former allows you to see how your child is going to react to the environment, the latter so you can observe how the children are cared for and if it seems that the daycare will be a good fit for your child.


    It's suggested by the YMCA Childcare Resource Service to visit without your child first; if you have a good feeling about the center, then take the next step.

    Finding the One


    Okay, so you've found that daycare that seems to have experience and that your child has done well with on his first visit. Have you found the right daycare for your child?


    Possibly. Even highly likely. But to further dispel any doubt, make sure that the center welcomes your input and that they communicate with you about any issues, good or bad.


    Work with the center to develop an Individualized Education Plan (IEP) for your child. If you need professional assistance with this plan, you might contact the California Special Needs Law Group (CSNLG), which specializes in assisting with IEP development as well as conflict mediation.


    There's no guarantee that you'll be less nervous or hesitant after following any of the aforementioned tips. But you might find comfort in knowing that you've done your homework.


    And when it's time to let your child pass through the doors of the daycare center you have chosen, you can allow them to do so knowing that they will receive the quality care they deserve.

</p>

</body>
</html>

