
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
<h2>
You have to pay bkash.Here is our Bkash payment no. You have to payfirst for fillingup your admission form
   <p style="color:crimson">
       01927614889
   </p>
 </h2>

<img src="~/Gallery/images/bkash.jpg" />
</body>
</html>