
@{
    ViewBag.Title = "PDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<html>
<body>
    <h2 align="middle">Pre School</h2>

    <p><img src="~/Uploads/preschl.jpg" alt="Smiley face" width="452" height="402" align="right"> </p>



    
        <p>
            Many families learn about their child's autism when he or she enters preschool. Up until then, their child may have seemed quiet, quirky, or sensitive—just a little different. In preschool, though, other issues emerge. The child with autism may have a much tougher time than other kids with new schedules, social engagement, pretend play, and language use. And while parents may have unconsciously adapted to their child's differences, preschool teachers expect that children will adapt to new surroundings. Then comes "the call."
        </p>

        <p>
            "I think we need to talk about your child's progress," the preschool director says. Suddenly, the world changes. Preschool administrators may even pressure parents to remove their child from the school immediately, explaining "we don't have the right facilities to help him," or "it's unfair to the other children."
        </p>
        <p>
            Four Options for Coping With Preschool
            Now what? The good news is that state agencies and school districts in the United States are required to offer services to children with special needs. If your child is under three years old, he or she is entitled to early intervention services, which generally include several types of therapy. If your child is three or over, he's old enough to qualify for an individualized educational program that's customized to his specific challenges. You can take advantage of these entitlements no matter which of these four options you select:
        </p>

        <p>
            Some families with children on the autism spectrum send their children to typical preschools with (or without) one-on-one support. Depending on the child, the preschool, and the type of 1:1 support available to the family through public or private sources, this can work out very well. Of course, if a preschool has already expressed concerns about your child's ability to handle their program, you may need to do some serious searching for a more accepting, supportive setting.
            Many families opt to keep their children with autism at home until it's time for kindergarten. Those families often make use of public and private therapeutic options. This can be a good choice under certain circumstances, though it can be financially and personally overwhelming to some families. Parents who opt to "homeschool" their preschoolers may also find it tougher to integrate into typical "mommy and me" style programs, which are great for most preschoolers but may be very challenging for preschoolers with sensory or communication difficulties.
            Every state in the U.S. requires school districts to provide early intervention programs to preschoolers who have been identified with special needs. Of course, the quality of those programs differ, but they are free and specifically designed for children with special needs. Depending upon the quality of the program, this may be a good choice. You'll want to investigate this option carefully to be sure you're comfortable with the therapeutic style and training available; connecting with other local special needs parents may be a great way to get an insider's perspective.
            In many areas, private preschools are springing up to serve the needs of preschool-aged children with autism and other special needs. These schools can be pricey, but they may also offer high-quality programs. Before leaping in, be sure that the philosophy of the school is in keeping with your own philosophy, and that the other children in the program have challenges similar to your child's.
        </p>


        Which of these options is right for your family? Sometimes, the answer is obvious: both parents must work, there are no private preschools around, and the local typical preschool won't take your child. Public special needs preschool is the only viable choice. Often, though, the answer isn't nearly as clear-cut. Interested in exploring your options? These articles go into more depth to provide parents with insights and ideas.
    
</body>
</html>