
@{
    ViewBag.Title = "PRequirements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WHo can join our pre school?</h2>
<html>
<body>
    Special Education Services
    Special education services pick up where early intervention services leave off, at age 3. Your local school district provides these services through their special education department. The focus of special education is different from that of early intervention.

    While early intervention addresses your child's overall development, special education focuses on providing your child with an education, regardless of disabilities or special needs. The document that spells out your child's needs and how these needs will be met is the Individualized Education Program (IEP).

    Like the IFSP, the IEP describes your child's strengths and weaknesses, sets goals and objectives, and details how these can be met. Unlike the IFSP, the IEP is almost entirely related to how the needs of your child will be met within the context of the school district and within school walls.
</body>
</html>

