
@{
    ViewBag.Title = "Symptompts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sysmtompts</h2>

<html>
<body>
    <p>
    Autism spectrum disorder (ASD) is a range of neurodevelopmental disorders predominantly characterized by impaired social functioning and communication disturbances. Symptoms can include intense focus on one item, unresponsiveness, lack of understanding social cues (like tone of voice or body language), repetitive movements, or self-abusive behavior like head-banging. The severity of the symptoms varies widely among affected individuals. Other possible symptoms include learning to speak relatively late, not playing interactively with other children, avoidance of eye contact, lack of empathy, and social withdrawal. Children with ASD who have not developed sufficient language skills may act out, including screaming or crying, to express their needs. It is important to note that people with ASD may vary widely in their level of functioning, and not all people with ASD will experience all of the symptoms listed.
</p>
    Early symptoms and signs in babies may vary but can include lack of eye contact or decreased eye contact, being overly focused on one item, and lack of back-and-forth play. Very young children may show early symptoms like loss of interest in social contact and social withdrawal.
<p>
    Asperger syndrome is the name of a condition that was formerly classified as a separate entity by the Diagnostic and Statistical Manual of Mental Disorders published by the American Psychiatric Association. In the most recent version of this diagnostic guide, Asperger syndrome has been removed as a formal diagnosis; those with the symptoms of what was formerly referred to as Asperger syndrome are now grouped in the category of autism spectrum disorder.
</p>
    <h3>
    Autism causes and risk factors</h3>
    The exact cause of autism spectrum disorder is not known, but it is believed that both genetic and environmental factors are involved.
    <h3>
    Other autism symptoms and signs
    
    </h3>
    <ul>
        <li>
            Abnormal Body Posturing or Facial Expressions
        </li>
        <li>
            Abnormal Tone of Voice
        </li>
        <li>
            Avoidance of Eye Contact or Poor Eye Contact

        </li>
        <li>
            Behavioral Disturbances

        </li>
        <li>
            Deficits in Language Comprehension

        </li>
        <li>
            Delay in Learning to Speak

        </li>
        <li>
            Flat or Monotonous Speech

        </li>
        <li>
            Inappropriate Social Interaction
        </li>
        <li>
            Intense Focus on One Topic

        </li>
        <li>
            Lack of Empathy

        </li>
        <li>
            Lack of Understanding Social Cues

        </li>
        <li>
            Learning Disability or Difficulty

        </li>
        <li>
            Not Engaging in Play With Peers

        </li>
        <li>
            Preoccupation With Specific Topics

        </li>
        <li>
            Problems With Two-Way Conversation

        </li>
        <li>
            Repeating Words or Phrases

        </li>
        <li>
            Repetitive Movements

        </li>
        <li>
            Self-Abusive Behaviors

        </li>
        <li>
            Sleep Disturbances

        </li>
        <li>
            Social Withdrawal

        </li>
        <li>
            Unusual Reactions in Social Settings

        </li>
        <li>
            Using Odd Words or Phrases

        </li>
        </ul>
</body>
</html>