
@{
    ViewBag.Title = "Treatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Treatment</h2>

<html>
<body>
    <h3>
    Behavior and Communication Treatments
        </h3>
    Applied Behavior Analysis (ABA). ABA is often used in schools and clinics to help your child learn positive behaviors and reduce negative ones. This approach can be used to improve a wide range of skills, and there are different types for different situations, including:

   


    <p>
    Discrete trial training (DTT) uses simple lessons and positive reinforcement.
    Pivotal response training (PRT) helps develop motivation to learn and communicate.
    Early intensive behavioral intervention (EIBI) is best for children under age 5.
    Verbal behavior intervention (VBI) focuses on language skills.
     </p>

    Developmental, Individual Differences, Relationship-Based Approach (DIR). This kind of treatment is better known as Floortime. That’s because it involves you getting on the floor with your child to play and do the activities he likes.
    <p>
        It’s meant to support emotional and intellectual growth by helping him learn skills around communication and emotions.

    </p>

    <p>
        Treatment and Education of Autistic and Related Communication-handicapped Children (TEACCH). This treatment uses visual cues such as picture cards to help your child learn everyday skills like getting dressed. Information is broken down into small steps so he can learn it more easily.

    </p>

    The Picture Exchange Communication System (PECS). This is another visual-based treatment, but it uses symbols instead of picture cards. Your child learns to ask questions and communicate through special symbols.
</body>
</html>