@{
    ViewBag.Title = "About";
}
<h2>Angel Foundation for Children with Special Needs</h2>
<h3>Children with Autism and Special Needs are challenging disability that requires qualified and highly trained individuals working together with parents.</h3>

<p>
    <ul>
        <li> 153/1, Ibrahimpur, Kafrul</li>
        <li>
            Dhaka, Bangladesh
        </li>
        <li>
            m.me/afsncbd
        </li>
        <li>
            Call 01717-237963
        </li>

    </ul>


</p>
