@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <ul>
        <li> 153/1, Ibrahimpur, Kafrul</li>
        <li>
            Dhaka, Bangladesh
        </li>
        <li>
            m.me/afsncbd
        </li>
        <li>
            Call 01717-237963
        </li>

    </ul>



</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">
    afsncbd@gmail.com
</a><br />
</address>